{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
<header>
<table style="padding: 0;
              margin: 0;
              border-spacing: 0;
              border-collapse: collapse;
              ">
<tbody><tr>
<td>
  <a href="{{ SITEURL }}/index.html">
    <div style="margin: auto 0.5in auto auto;
               color: #797;
               ">
      <div class="hover-red">
        <span style="font-family: Hoefler Text, serif;
                     font-size: 10em;
                     font-weight: normal;
                     margin: auto;
                     ">
          &lambda;
        </span>
      </div>
    </div>
  </a>
</td>
<td style="vertical-align: top;">

                <h1><a href="{{ SITEURL }}/index.html" id="site-title">{{ SITENAME }}</a></h1>
                {% if SITESUBTITLE %} <h2 style="color: #AAA">{{ SITESUBTITLE }}</h2>{% endif %}</a>

                Occasional<sup>*</sup> Musings on Programming in Scala by
                Douglas Alan
</td></tbody></table>
</header>
<div class="Clear" style="margin-bottom: 1in"></div>
{% if articles %}
    {% for article in articles %}        
        {# First item #}
        {% if loop.index0 < 3 %}
                <h2>{{ article.title }}
                {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">&nbsp;&nbsp;({{ article.locale_date }})</time>{% endif %}</h2>
            <article>
                {{ article.first_paragraph }}<a href="{{ SITEURL }}/{{article.url}}">(Read more...)</a>
            </article>
            {% if loop.length > 3 %}
                <section id="article-list">
                    <h2>Previous Posts</h2>
                    <ol>
            {% endif %}
        {# other items #}
        {% else %}
            <li><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></li>
        {% endif %}
{% endfor %}
    {% if loop.length > 3 %}
    </ol>
    </section><!-- #article-list -->
{% endif %}
{% else %}
    No previous posts at the moment.
{% endif %}
<hr>
<sup>*</sup><font size=-1>Despite this blog's title, I'll be lucky if I even
  get to this once a month.</font>
{% endblock content %}
