@import url("pygment.css");

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #AAA;
  text-decoration: none;

}

a:hover {
/*  text-decoration: underline; */
    color: #A00;
}

h1 a:link, h1 a:visited {
    color: #797;
}

h1 a:hover {
    color: #A00;
}

/* Note: :active MUST come after :hover (if present) in the CSS
definition in order to be effective! */
/* a:active { */
/*   color: #F00; */
/*   text-decoration: none; */
/* } */

/* line 13, ../../compass/src/main.scss */
/*body {
  background: #fff;
  color: #333;
  font: 20px Hoefler Text, bodyfont, serif;
  line-height: 30px;
  max-width: 30em;
  margin: 60px 14px 0 64px;
}*/

body {
  background: #fff;
  color: #333;
  font: 16px Hoefler Text, bodyfont, serif;
  line-height: 1.25;
  margin: 60px 64px 0 64px;
}

/* line 22, ../../compass/src/main.scss */
h1 {
/*  color: #333; */
  color: #797;
  font-family: Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: normal;
  line-height: 26px;
  margin-bottom: 0;
}

/* line 31, ../../compass/src/main.scss */
h2 {
/*  color: #666; */
  color: #000;
  font-family: Helvetica, sans-serif;
/*  font-size: 18px; */
  font-weight: normal;
  font-size: 1.5em;
/*  line-height: 15px; */
  padding-top: 10px;
}

/* line 39, ../../compass/src/main.scss */
h3 {
/*  font-family: Georgia, "Times New Roman", Times, serif; */

  font-family: Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.0em;
  color: #000000;
}

/* line 44, ../../compass/src/main.scss */
h4 {
  color: #000000;
  font-size: 9pt;
}

/* line 49, ../../compass/src/main.scss */
time {
  color: #555;
  font-size: 14px;
}

/* line 54, ../../compass/src/main.scss */
img {
  border: none;
}

/* line 58, ../../compass/src/main.scss */
blockquote {
  border-left: 1px solid #A5ABAB;
  margin: 0px;
  padding: 0 12px 0 12px;
}

/* line 64, ../../compass/src/main.scss */
p {
/*  line-height: 30px; */
  line-height: 1.25;
/*  margin: 30px auto; */
  text-indent: 0px;
}
/* line 68, ../../compass/src/main.scss */
p.caption {
  font-size: 80%;
  margin-top: 0;
}

/* line 74, ../../compass/src/main.scss */
/* a { */
/*   /\* border-bottom: #999 1px solid; *\/ */
/*   color: #303030; */
/*   text-decoration: none; */
/* } */
/* line 78, ../../compass/src/main.scss */

/* line 81, ../../compass/src/main.scss */
ul, ol {
  padding: .5em 0em 1em 3.2em;
}
/* line 83, ../../compass/src/main.scss */
ul li, ol li {
  line-height: 30px;
  padding: 6px 0 0 0;
}

/* line 89, ../../compass/src/main.scss */
strong {
  color: #555555;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

/* line 95, ../../compass/src/main.scss */
tt, pre {
  background-color: #fafafa;
  font-family: Inconsolata, Monaco, monospace;
  font-size: 12px;
  line-height: 1.25;
}

/* line 101, ../../compass/src/main.scss */
pre {
  font-size: 0.8em;
  overflow: auto;
  padding: 10px;
}

/* line 107, ../../compass/src/main.scss */
header {
  padding-bottom: 20px;
}
/* line 109, ../../compass/src/main.scss */
header a {
  border-bottom: none;
}
/* line 111, ../../compass/src/main.scss */
header a#page-title {
  font-weight: bold;
}

/* line 115, ../../compass/src/main.scss */
#article-list {
  margin-top: 100px;
}
/* line 117, ../../compass/src/main.scss */
#article-list ol li {
  line-height: 1.2em;
  list-style-type: none;
  padding-bottom: 10px;
}

/* line 124, ../../compass/src/main.scss */
footer {
  background: #fff;
  color: #666;
  font-family: helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 4px;
  margin-left: 20px;
}
/* line 131, ../../compass/src/main.scss */
footer a {
  border-bottom: none;
  color: #c0c0c0;
}
/* line 135, ../../compass/src/main.scss */
footer li {
  display: inline;
}
/* line 138, ../../compass/src/main.scss */
footer p {
  text-align: right;
}

.Clear { clear: both; height: 0; overflow: hidden; }

.hover-red:hover {
    color: #A00;
}
